

<div class="container-table">

<div class="title_feature" >
  Gestion des activités
</div>
<div>
<button id="add_new_data" data-href="/activite/new" data-titre="Nouvelle activité"  
data-width="1200" data-height="500"
class="btn btn-primary mb-3">
  <span class="glyphicon glyphicon-plus">
  </span> Ajouter une activité
</button>
</div>


<div id="form_zone"></div>

<div th:if="${datas.size() > 0}">
  <table id="table_data" class=" table table-triped table-hover table-responsive-xl">
    <thead class="thead-light">
      <tr>

      <th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
			</th>
      
        <th scope="col">ID</th>
        
        <th scope="col">Direction</th>
        
        <th scope="col">Code activité</th>
        
        <th scope="col">Libellé</th>
        
        <th scope="col">Description</th>
        
      <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="activite : ${datas}">
      <td><input type="checkbox"/></td>
       
        <td th:text="${activite.activ_id}">activ_id</td>
        
        <td th:text="${activite.id_direction}">id_direction</td>
        
        <td th:text="${activite.activ_code}">activ_code</td>
        
        <td th:text="${activite.activ_libelle}">activ_libelle</td>
        
        <td th:text="${activite.activ_description}">activ_description</td>
        
        <td>
          <a th:href="@{'/activite/' + ${activite.activ_id}}" title="Modifier">
          <i class="btn btn-edit"></i></a>
           
          <a th:href="@{'/activite/delete/' + ${activite.activ_id}}" title="Supprimer"> 
          <i class="btn btn-delete"></i></a>
        </td>

      </tr>
    </tbody>
  </table>
</div>
</div>

<script th:src="@{/js/coris_tables.js}"></script>
 

