
  

  <form id="edit_form" th:action="@{/activite/save}" method="post" enctype="multipart/form-data" th:object="${activite}"
    style="max-width: 550px; margin: 0 auto">

    <!--input type="hidden" th:field="*{object_id}" /-->
    
      
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="id_direction">Direction : </label>
        <div class="col-sm-9">
          <select th:field="*{id_direction}" required class="form-control" id="id_direction" >
            <option value=""> -- </option>
            <option th:each="direction : ${directions}"
                    th:text="${direction.direct_code} + ' - ' +${direction.direct_libelle.pers_nom}"
                    th:value="${direction.direct_id}">
            </option>
        </select>
          <span class="field-error" th:if="${#fields.hasErrors('id_direction')}" th:errors="*{id_direction}">Name Error</span>
        </div>
      </div>
      
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="activ_code">Code : </label>
        <div class="col-sm-9">
          <input type="text" th:field="*{activ_code}" required class="form-control" id="activ_code" />
          <span class="field-error" th:if="${#fields.hasErrors('activ_code')}" th:errors="*{activ_code}">Name Error</span>
        </div>
      </div>
      
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="activ_libelle">Libellé : </label>
        <div class="col-sm-9">
          <input type="text" th:field="*{activ_libelle}" required class="form-control" id="activ_libelle" />
          <span class="field-error" th:if="${#fields.hasErrors('activ_libelle')}" th:errors="*{activ_libelle}">Name Error</span>
        </div>
      </div>
      
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="activ_description">Description : </label>
        <div class="col-sm-9">
          <input type="text" th:field="*{activ_description}" required class="form-control" id="activ_description" />
          <span class="field-error" th:if="${#fields.hasErrors('activ_description')}" th:errors="*{activ_description}">Name Error</span>
        </div>
      </div>
      
      <div class="text-center">
        <input type="submit" value="Enregistrer" class="btn btn-primary btn-sm mr-2" />
      </div>
    </div>
  </form>
</div>

<script th:src="@{/js/coris_form.js}"></script>

