
  

  <form id="edit_form" th:action="@{/personnel/save}" method="post" enctype="multipart/form-data" th:object="${personnel}"
    style="max-width: 550px; margin: 0 auto">

    <!--input type="hidden" th:field="*{object_id}" /-->
    
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="matricule">Matricule :</label>
        <div class="col-sm-9">
          <input type="text" th:field="*{matricule}" required class="form-control" id="matricule" />
          <span class="field-error" th:if="${#fields.hasErrors('matricule')}" th:errors="*{matricule}">Name Error</span>
        </div>
      </div>
      
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="direct_id">Direction :</label>
        <div class="col-sm-9">
          <select th:field="*{direct_id}" required class="form-control" id="direct_id" >
            <option value=""> -- </option>
            <option th:each="direction : ${directions}"
                    th:text="${direction.direct_code} + ' - ' +${direction.direct_libelle.pers_nom}"
                    th:value="${direction.direct_id}">
            </option>
        </select>
          <span class="field-error" th:if="${#fields.hasErrors('direct_id')}" th:errors="*{direct_id}">Name Error</span>
        </div>
      </div>
      
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="pers_nom">Nom : </label>
        <div class="col-sm-9">
          <input type="text" th:field="*{pers_nom}" required class="form-control" id="pers_nom" />
          <span class="field-error" th:if="${#fields.hasErrors('pers_nom')}" th:errors="*{pers_nom}">Name Error</span>
        </div>
      </div>
      
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="pers_prenom">Prénoms : </label>
        <div class="col-sm-9">
          <input type="text" th:field="*{pers_prenom}" required class="form-control" id="pers_prenom" />
          <span class="field-error" th:if="${#fields.hasErrors('pers_prenom')}" th:errors="*{pers_prenom}">Name Error</span>
        </div>
      </div>
      
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="pers_email">Email : </label>
        <div class="col-sm-9">
          <input type="email" th:field="*{pers_email}" required class="form-control" id="pers_email" />
          <span class="field-error" th:if="${#fields.hasErrors('pers_email')}" th:errors="*{pers_email}">Name Error</span>
        </div>
      </div>
      
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="pers_date_integration">Date d'intég. : </label>
        <div class="col-sm-9">
          <input type="date" th:field="*{pers_date_integration}" required class="form-control" id="pers_date_integration" />
          <span class="field-error" th:if="${#fields.hasErrors('pers_date_integration')}" th:errors="*{pers_date_integration}">Name Error</span>
        </div>
      </div>
      
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="Supp_code">Type support : </label>
        <div class="col-sm-9">
          <select th:field="*{Supp_code}" required class="form-control" id="Supp_code" >
            <option value=""> -- </option>
            <option th:each="sp : ${supports}"
                    th:text="${sp.Supp_code} + ' - ' +${sp.Supp_libelle}"
                    th:value="${sp.Supp_code}">
            </option>
        </select>
          <span class="field-error" th:if="${#fields.hasErrors('Supp_code')}" th:errors="*{Supp_code}">Name Error</span>
        </div>
      </div>
      
      <div class="text-center">
        <input type="submit" value="Enregistrer" class="btn btn-primary btn-sm mr-2" />
      </div>
    </div>
  </form>
</div>

<script th:src="@{/js/coris_form.js}"></script>

