

<div class="container-table">

<div class="title_feature" >
  Gestion des types de conventions
</div>
<div>
<button id="add_new_data" data-href="/type_conv/new" data-titre="Nouvel type de convention"  
data-width="1200" data-height="500"
class="btn btn-primary mb-3">
  <span class="glyphicon glyphicon-plus">
  </span> Ajouter un type de convention
</button>
</div>


<div id="form_zone"></div>

<div>
  <table id="table_data" class=" table table-triped table-hover table-responsive-xl">
    <thead class="thead-light">
      <tr>

      <th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
			</th>
      
        <th scope="col">ID</th>
        
        <th scope="col">Code</th>
        
        <th scope="col">Libellé</th>
        
      <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="type_conv : ${datas}">
      <td><input type="checkbox"/></td>
       
        <td th:text="${type_conv.conv_id}">conv_id</td>
        
        <td th:text="${type_conv.conv_code}">conv_code</td>
        
        <td th:text="${type_conv.conv_libelle}">conv_libelle</td>
        
        <td>
          <a th:href="@{'/type_conv/' + ${type_conv.conv_id}}" title="Modifier">
          <i class="btn btn-edit"></i></a>
           
          <a th:href="@{'/type_conv/delete/' + ${type_conv.conv_id}}" title="Supprimer"> 
          <i class="btn btn-delete"></i></a>
        </td>

      </tr>
    </tbody>
  </table>
</div>
</div>

<script th:src="@{/js/coris_tables.js}"></script>
 

