<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
    <title th:text="#{label.form.title}">form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <style>
        .password-verdict {
            color: #000;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home.html}" th:text="#{label.pages.home.title}">home</a>
        </div>
        <div class="">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/belrbeZ/UserManager">Visit on GitHub</a></li>
                <li sec:authorize="isAuthenticated()" ><a th:href="@{/logout}" th:text="#{label.pages.logout}">logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div>
        <h1 th:text="#{label.form.change.title}">form</h1>
        <br/>
        <form class="form-horizontal" th:action="@{/user/{id}(id=${user.id})}"
              th:object="${user}" role="form">
            <input type="hidden" th:field="${user.id}"/>

            <fieldset>

                <legend>Account</legend>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="firstName_input" th:text="#{label.user.firstName}">First
                        Name</label>
                    <div class="col-md-4">
                        <input id="firstName_input" class="form-control input-md" type="text" th:field="*{firstName}"
                               th:placeholder="#{label.user.firstName}"/>

                        <span class="help-block">
                                <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                       class="validation-message"></label>
                            </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="lastName_input" th:text="#{label.user.lastName}">Last
                        Name</label>
                    <div class="col-md-4">
                        <input id="lastName_input" class="form-control input-md" type="text" th:field="*{lastName}"
                               th:placeholder="#{label.user.lastName}"/>

                        <span class="help-block">
                                <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                       class="validation-message"></label>
                            </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="phoneNumber_input" th:text="#{label.user.phoneNumber}">PhoneNumber</label>
                    <div class="col-md-4">
                        <input id="phoneNumber_input" class="form-control input-md" type="text"
                               th:field="*{phoneNumber}"
                               th:placeholder="#{label.user.phoneNumber}"/>

                        <span class="help-block">
                                <label th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
                                       class="validation-message"></label>
                            </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="email_input" th:text="#{label.user.email}">Email</label>
                    <div class="col-md-4">
                        <input id="email_input" class="form-control input-md" type="text" th:field="*{email}"
                               th:placeholder="#{label.user.email}"/>

                        <span id="emailError" class="alert alert-danger col-sm-12" style="display:none"></span>
                        <span class="help-block">
                                <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                       class="validation-message"></label>
                            </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="enabled_input"
                           th:text="#{label.user.enabled}">Enabled</label>
                    <div class="col-md-4">
                        <input id="enabled_input" class="form-control input-md" type="checkbox" th:checked="*{enabled}"
                               th:placeholder="#{label.user.enabled}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="button_input"></label>
                    <div class="col-md-4">
                            <span class="help-block">
                                <span th:utext="${successMessage}"></span>
                            </span>
                        <button id="button_input" class="btn btn-primary" type="submit" th:text="#{label.form.submit}">
                            Save
                        </button>
                        <span id="globalError" class="alert alert-danger col-sm-4" style="display:none"></span>
                    </div>
                </div>
            </fieldset>
        </form>
        <br/>
        <!--<a th:href="@{/login}" th:text="#{label.form.loginLink}">login</a>-->
    </div>
</div>
<div>

</div>

<script th:inline="javascript" type="application/javascript">
    /*<![CDATA[*/
    var serverContext = [[@{
        /}]];
    /*]]>*/
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/alert.js}" src="/static/js/alert.js"></script>
<script type="text/javascript" th:src="@{/js/editUser.js}" src="/static/js/editUser.js"></script>

</body>

</html>
